h1{
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
  }
  html{
    background-color: black;
    color: white;
  }
  div{
    width: 50%;
    margin-left: 25%;
    text-align: center;
  }
  img{
    border: 5px solid aqua;
    width: 100%;
  }
